@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "Source Code Pro", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #780078;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #880088;
}

::selection {
  background-color: #880088;
}

