@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "Source Code Pro", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #FAF9F6;
  background-color: var(--primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --primary-clr: #880088;
  --secondary-clr: #780078;
  --primary-shadow: #aa00aa;
  --primary-dark: #131313;
  --primary-dark-shadow: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 0px 0.3px red; */
}

a {
  color: #FAF9F6;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-dark); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #980098;
}

::selection {
  background-color: #880088;
}

