@media screen and (max-width:500px) {
    .inner {
        width:480px;
        padding: 0 min(20px);
        box-sizing: border-box;
    }

    p {
        font-size: clamp(0.875rem, 0.6964rem + 1.4286vw, 1.125rem) !important;
    }

    .header {
        height: 350px;
        box-shadow: 5px 0px 0px 5px var(--primary-dark-shadow);
        background-image: linear-gradient(#1313131c, var(--primary-dark) 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #skills {
        max-width: 400px;
    }

    #skills .grid {
        display: grid;
        grid-template-areas: ".";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10%;
      }

    .projects-grid {
        display: grid;
        grid-template-areas: ".";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }

    .card {
        min-width: 200px;
        max-width: 400px;
    }

    .create-web {
        display: grid;
        grid-template-areas: "pencil-i" "text";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        gap: 20px;
        margin: 0;
        transition: all .3s;
    }

    .create-web img {
        width: 100px;
    }

    .navbar .links {
        display: none !important;
    }
}